<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.CityMapper">


    <select id="getAreaCity" resultType="com.demo.pojo.City">
        select * from city where id in (
        select city_id from area_city  where area_id = #{areaId}
        )
    </select>
</mapper>